@import '../../global';

.group {
  @include card;
  padding: 0;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover,
  &:focus-within {
    .toggle {
      opacity: 1;
    }

    .plus {
      opacity: 1;
    }
  }

  &.collapsed {
    .header .border {
      opacity: 0;
    }

    .toggle {
      transform: translateY(-50%) rotate(90deg);
      opacity: 1;
    }
  }

  &.primitive {
    display: flex;
    align-items: center;
    height: 2.25rem;
    padding: 1rem 3rem;
  }
}

.header,
.category {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 5.5em;
}

.header {
  grid-template-rows: 1em 1fr;
  grid-template-areas: 'title key' 'title field';
  padding: 1rem 3rem;

  .title {
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    font-size: 1rem;
    transition: color 0.2s $curve;

    &.edit {
      @include input;
      padding: 0.25rem 1rem;
      margin-left: calc(-1rem - 1px);
    }

    .text {
      cursor: text;
    }
  }

  .plus {
    @include button;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    border-radius: 2rem;
    height: 1.75rem;
    width: 1.75rem;
    padding: 0;
    transition: opacity 0.2s $curve, $transitionBg;
    opacity: 0;
    box-sizing: border-box;

    svg {
      width: 1rem;
      height: 1rem;
      color: #888;
    }
  }

  .tooltip {
    position: absolute;
    left: 3rem;
    width: inherit;

    input {
      @include card;
      position: fixed;
      background-color: #ff4747;
      background: linear-gradient(to bottom left, #ff4747, #ff8b4c);
      border: none;
      outline: none;
      cursor: text;
      padding: 1em;
      font-size: 1rem;
      z-index: 1;
      color: #fff;

      &::placeholder {
        color: inherit;
      }
    }
  }
}

.title {
  grid-area: title;
  align-self: center;
}

.key,
.field {
  justify-self: end;
  text-align: right;
}

.key {
  font-size: 11px;
  font-weight: 300;
  color: #737373;
  grid-area: key;
}

.field {
  position: relative;
  grid-area: field;
  display: inline-block;
  width: 100%;
}

.border {
  position: absolute;
  width: calc(100% - 2rem);
  height: 1px;
  background: radial-gradient(#ccc 30%, #fff);
  transition: opacity 700ms ease;
  left: 1rem;
  top: calc(100% - 1px);
}

.categories {
  overflow: hidden;
}

.category {
  box-sizing: border-box;
  height: 3.25rem;
  padding: 0 3rem;
  grid-gap: 1rem;
  grid-template-rows: 1fr;
  grid-template-areas: 'title field';
  align-items: center;
  border-radius: 6px;
  background-color: #fff;

  &:hover .input:not(:focus) {
    border-color: #d8d8d8;
  }

  &.primitive {
    display: flex;
    align-items: center;
    min-height: 1.25rem;
  }
}

.input {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  padding: 0.125rem;
  text-align: right;
  border-radius: 5px;
  border: 1px solid transparent;
  outline: none;
  transition: border-color 0.15s ease;

  &:focus,
  &:active {
    border-color: $blue;
  }
}

.toggle {
  @include button;
  position: absolute;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  padding: 0.25rem;
  border-radius: 1.25rem;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.25s $curve, transform 0.25s $curve, $transitionBg;
  font-size: 16px;
  color: #666;

  &:focus {
    opacity: 1;
  }

  svg {
    display: block;
  }
}
