@import '../../global';

.button {
  @include button(#888);

  padding: 0.5rem 0.75rem;
  background: transparent;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;

  &.blue {
    @include button($blue-text);
  }

  &.green {
    @include button($green);
  }

  &.orange {
    @include button($orange);
  }

  &.red {
    @include button($red);
  }
}
