@import '../../global';

.fab {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  overflow: hidden;
  min-width: 4.5rem;
  min-height: 4.5rem;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  margin: 1.5rem;
  background: linear-gradient($greenLight 0%, $green 85%);
  border-radius: 4.5rem;
  box-shadow: 0 4px 6px rgba($green, 0.11), 0 1px 3px rgba(0, 0, 0, 8%);
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  line-height: 4.5rem;
  outline: none;
  transition: box-shadow 0.2s cubic-bezier(0.65, 0.29, 0.26, 0.48),
    transform 0.2s cubic-bezier(0.65, 0.29, 0.26, 0.48);
  user-select: none;

  &:focus,
  &:hover {
    box-shadow: 0 7px 14px rgba($green, 0.1), 0 3px 6px rgba(0, 0, 0, 8%);
    transform: translateY(-1px);
  }

  &:active {
    box-shadow: 6px 12px -2px rgba($green, 0.25), 0 3px 7px -3px rgba(0, 0, 0, 30%);
    transform: translateY(1px);
  }
}
