@import '../../global';

.toaster {
  position: fixed;
  z-index: 1000000;
  top: 0;
  right: 0;
  max-width: 100vw;
  box-sizing: border-box;
  padding: 1rem;
  pointer-events: none;
}

.title,
.message {
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  color: $blueText;
  font-size: 14px;
  font-weight: 500;
}

.close {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1.3rem;
  height: 1.3rem;
  box-sizing: content-box;
  padding: 0.75rem;
  border: unset;
  background: radial-gradient(#fff 30%, #fff0);
  cursor: pointer;
  fill: #d6d6d6;
  opacity: 0;
  outline: none;
  transform: translateY(-50%);
  transition: opacity 0.2s cubic-bezier(0.65, 0.29, 0.26, 0.48),
    fill 0.2s cubic-bezier(0.65, 0.29, 0.26, 0.48);

  &:hover {
    fill: #c4c4c4;
  }

  &:active,
  &:focus {
    fill: #999;
    opacity: 1;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }

  &.leaving {
    opacity: 0 !important;
    transition: opacity 0.1s cubic-bezier(0.65, 0.29, 0.26, 0.48);
  }
}

.toast {
  @include card;

  position: relative;
  display: flex;
  overflow: hidden;
  width: fit-content;
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  background-color: #fff;
  clear: both;
  float: right;
  pointer-events: auto;

  &:not(:first-child) {
    margin-top: 0;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient($blueLight 0%, $blue 85%);
    content: '';
  }

  &.error {
    .title {
      color: $red;
    }

    &::before {
      background: linear-gradient($orange 0%, $red 85%);
    }
  }

  &:hover .close {
    opacity: 1;
  }
}

.message {
  font-size: 13px;
  font-weight: 300;
}
