@import '../globals';

.budget-list {
  padding: 2em;
}

.group {
  position: relative;
  background-color: #fff;
  box-shadow: 0 5px 20px rgba(#000, 0.1);
  margin-bottom: 1.5em;
  border-radius: 5px;
}

.head,
.category {
  display: grid;
  grid-template-columns: 1fr 6em;
  grid-template-rows: 1fr;
  grid-template-areas: 'name allocation';
}

.head {
  position: relative;
  padding: 1.25em 2em;
  font-weight: 500;
  color: #666;

  .group-name {
    display: flex;
    align-items: center;
    grid-area: name;
    font-size: 20px;

    .add {
      display: inline-block;
      height: 1.5em;
      width: 1.5em;
      padding: 3px;
      margin-left: 0.5em;
      border-radius: 1.5em;
      color: darken(#fff, 15%);
      box-sizing: border-box;
      transition: 0.15s ease;
      transition-property: color, background-color;
      border: none;
      font-size: 16px;
      cursor: pointer;
      outline: none;

      &:hover {
        background-color: darken(#fff, 5%);
        color: darken(#fff, 20%);
      }

      &:active,
      &:focus {
        background-color: darken(#fff, 10%);
        color: darken(#fff, 25%);
      }
    }
  }

  .allocation {
    text-align: right;
    grid-area: allocation;
    color: inherit;
  }

  .category-input {
    position: absolute;
    background-color: #e35100;
    background: $orange-gradient;
    top: 75%;
    z-index: 1;
    left: 2em;
    border-radius: 6px;
    box-shadow: 0 5px 20px rgba(#000, 0.1);

    input {
      padding: 1.5em 1em;
      font-size: 16px;
      outline: none;
      background-color: transparent;
      border: none;
      color: #fff;
      font-weight: 500;

      &::placeholder {
        color: darken(#fff, 5%);
      }
    }
  }
}

.border {
  margin: 0 2em;
  height: 1px;
  box-sizing: border-box;
  background-color: #ddd;
}

.category {
  position: relative;
  padding: 1em 2em;
  background-color: #fff;
  border-radius: 5px;

  &:hover {
    input {
      border-color: #e7e7ea;
    }

    .drag-handle {
      color: #ccc;
    }
  }

  input {
    padding: 0.25em 0.25em;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;

    &:active,
    &:focus {
      border-color: $blue;
    }
  }
}

.category-name {
  display: inline-block;
  grid-area: name;
  vertical-align: middle;
  align-self: center;
}

.category-allocation {
  width: 6em;
  text-align: right;
  grid-area: allocation;
}

.drag-handle {
  position: absolute;
  top: 50%;
  left: 0.3em;
  transform: translateY(-50%);
  height: 1.4em;
  width: 1.4em;
  color: #ccc0;
  transition: color 0.2s ease;

  svg {
    height: 100%;
    width: 100%;
  }
}
