@import '../globals';

.transactions {
  position: relative;
  height: 100%;
}

.shadow {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 200;
  background-color: rgba(#000, 0.4);
}

.form {
  background-color: #fff;
  padding: 1em;
  min-height: 100%;
  width: 20em;
  margin-left: auto;
  box-shadow: 0 5px 20px rgba(#000, 0.1);
  box-sizing: border-box;
}

.transaction-wrapper {
  padding-bottom: 3em;
}

.transaction {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 5px 20px rgba(#000, 0.1);
  border-radius: 4px;
  padding: 1em 2em;
  margin: 2em;

  .text {
    font-size: 14px;
  }

  .merchant {
    font-weight: 500;
  }

  .category {
    color: #888;
  }

  .amount {
    margin-left: auto;
    padding: 2px 8px;
    background-color: lighten(#888, 38%);
    color: #888;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;

    &.expense {
      color: $red;
      background-color: lighten($red, 25%);
    }

    &.income {
      color: $green;
      background-color: lighten($green, 40%);
    }
  }
}
