@use 'sass:color';
@import '../globals';

.view {
  padding: 2em;
}

.page-header {
  padding: 0 2em;
  color: #42475a;
}

.budget-title {
  font-size: 26px;
  font-weight: 600;
}

.drag-handle {
  position: absolute;
  top: 50%;
  left: 0.3em;
  display: flex;
  width: 1.4em;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #ccc0;
  transform: translateY(-50%);
  transition: color 0.2s ease;

  &:focus {
    color: #aaa;
    outline: none;
  }

  svg {
    width: 75%;
    height: 50%;
  }
}

.date {
  display: inline-flex;
  width: 13em;
  height: 2em;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  background-color: color.adjust($blue, $lightness: 40%);
  border-radius: 4px;
  color: $blue;
  font-weight: 500;
  line-height: 2em;
  user-select: none;

  .text {
    display: inline;
    margin: auto;
  }

  .prev {
    transform: rotate(90deg);
  }

  .next {
    transform: rotate(-90deg);
  }

  .prev,
  .next {
    display: inline-flex;
    width: 1.5em;
    height: 1.5em;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid transparent;
    margin: 0 0.5em;
    background-color: transparent;
    border-radius: 1.5em;
    cursor: pointer;
    fill: $blue;
    font-size: inherit;
    outline: none;
    transition: border-color 0.2s;

    &:hover {
      border-color: $blue;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.budget-list {
  margin-top: 2em;
}

.group {
  position: relative;
  margin-bottom: 1.5em;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 10%);

  &:last-child {
    margin-bottom: 0;
  }
}

.category {
  position: relative;
  padding: 1em 2em;
  background-color: #fff;
  border-radius: 5px;

  input {
    box-sizing: border-box;
    padding: 0.25em;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    outline: none;

    &:active,
    &:focus {
      border-color: $blue;
    }
  }
}

.activity,
.allocation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.border {
  height: 1px;
  box-sizing: border-box;
  margin: 0 2em;
  background-color: #ddd;
}

.name {
  display: inline-block;
  overflow: hidden;
  align-self: center;
  grid-area: name;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.category-list {
  min-height: 1em;
}

.activity {
  padding: 2px 8px;
  border-radius: 4px;
  color: inherit;
  grid-area: activity;
  text-align: right;

  &.with-value {
    font-weight: 500;

    &.positive {
      background-color: color.adjust($green, $lightness: 48%);
      color: $green;
    }

    &.negative {
      background-color: color.adjust($red, $lightness: 30%);
      color: $red;
    }
  }
}

.category-allocation {
  width: 6em;
  grid-area: allocation;
  text-align: right;
}

.head {
  position: relative;
  padding: 1.25em 2em;
  color: #666;
  font-weight: 500;

  .name {
    font-size: 20px;
  }

  .add {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    box-sizing: border-box;
    padding: 3px;
    border: none;
    margin-right: auto;
    margin-left: 0.5em;
    border-radius: 1.5em;
    color: color.adjust(#fff, $lightness: -15%);
    cursor: pointer;
    font-size: 16px;
    grid-area: add;
    outline: none;
    transition: 0.15s ease;
    transition-property: color, background-color;

    &:hover {
      background-color: color.adjust(#fff, $lightness: -5%);
      color: color.adjust(#fff, $lightness: -20%);
    }

    &:active,
    &:focus {
      background-color: color.adjust(#fff, $lightness: -10%);
      color: color.adjust(#fff, $lightness: -25%);
    }
  }

  .allocation {
    color: inherit;
    grid-area: allocation;
    text-align: right;
  }

  .category-input {
    position: absolute;
    z-index: 1;
    top: 75%;
    left: 2em;
    background: $orange-gradient;
    background-color: #e35100;
    border-radius: 6px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 10%);

    input {
      padding: 1.5em 1em;
      border: none;
      background-color: transparent;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      outline: none;

      &::placeholder {
        color: color.adjust(#fff, $lightness: -5%);
      }
    }
  }
}

.head,
.category {
  display: grid;
  grid-column-gap: 0.5em;
  grid-template-areas: 'name add activity allocation';
  grid-template-columns: minmax(1em, min-content) 1fr 6em 6em;
  grid-template-rows: 1fr;

  &:hover {
    input {
      border-color: #e7e7ea;
    }

    .drag-handle {
      color: #ccc;
    }
  }
}
