@import '../globals';

.fab {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1em;
  width: 4em;
  height: 4em;
  box-sizing: border-box;
  padding: 1em;
  background-color: #eb6c7c;
  background: $red-gradient;
  border-radius: 4em;
  border-right: 0;
  border-left: 0;
  outline: none;
  border-top: 1px solid lighten(#ff8b6c, 10%);
  border-bottom: 1px solid darken(#eb6c7c, 5%);
  box-shadow: 0 8px 20px rgba(#eb6c7c, 0.4);
  transition: 0.15s ease;
  transition-property: box-shadow, transform;
  font-size: 16px;
  cursor: pointer;

  svg {
    color: #fff;
  }

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 20px 5px rgba(#eb6c7c, 0.4);
  }

  &:active,
  &:focus {
    transform: translateY(1px);
    box-shadow: 0 8px 10px rgba(#eb6c7c, 0.4);
  }
}
