@import '../globals';

.toaster {
  position: fixed;
  top: 0;
  right: 0;
  pointer-events: none;
  height: 20em;
  z-index: 500;
}

.toast {
  display: block;
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  pointer-events: auto;
  margin: 1em;
  padding-top: 5px;
  border-radius: 6px;
  box-shadow: 0 5px 20px rgba(#000, 0.1);
  width: 15em;
  min-height: 3em;

  &::before {
    content: '';
    display: block;
    position: absolute;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background: $blue-gradient;
  }

  &:hover .close {
    background-color: #fff;
    color: darken(#fff, 15%);
  }
}

.title {
  font-weight: 500;
  margin-bottom: 0.25em;
  margin: 0.5em 1em;
}

.message {
  margin: 0.5em 1em;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.25em;
}

.button {
  position: relative;
  display: inline-block;
  background-color: darken(#fff, 3%);
  border: none;
  flex: 1 0 auto;
  font-size: 16px;
  padding: 0.5em;
  outline: none;
  margin: 0.25em;
  border-radius: 8px;
  color: $blue;
  cursor: pointer;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(at top left, #00c6ff, rgba(#00c6ff, 0));
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }

  &:hover::after {
    opacity: 0.25;
  }

  &:active::after {
    opacity: 0.5;
  }
}

.close {
  align-items: center;
  appearance: none;
  border: none;
  box-sizing: content-box;
  display: flex;
  font-size: 16px;
  justify-content: center;
  position: absolute;
  width: 0.75em;
  height: 0.75em;
  top: 0.5em;
  right: 0.5em;
  color: #fff0;
  background-color: #fff0;
  padding: 0.5em;
  border-radius: 0.75em;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color;
  cursor: pointer;
  outline: none;

  svg {
    height: 100%;
    width: 100%;
  }

  &:hover {
    background-color: darken(#fff, 5%) !important;
    color: darken(#fff, 20%);
  }
}
