@import '../../global';

.title {
  font-size: 1.2rem;
  font-weight: 600;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  .cell {
    position: relative;
  }
}

.card {
  position: relative;
  display: grid;
  padding: 1rem;
  border: 1px solid $green;
  background-color: #fff;
  border-radius: 6px;
  gap: 0.5rem;
  grid-template-areas: 'name name edit' 'icon type type';
  grid-template-columns: 3rem auto 1rem;
  grid-template-rows: minmax(1.25rem, auto) 3rem;

  .name {
    position: relative;
    overflow: hidden;
    padding: 0;
    border: none;
    background-color: transparent;
    color: color.adjust($green, $lightness: -20%);
    font-size: 1rem;
    font-weight: 500;
    grid-area: name;
    outline: none;
    text-overflow: ellipsis;
  }

  .edit {
    padding: 0;
    border: none;
    background-color: transparent;
    grid-area: edit;
    opacity: 0;
    transition: opacity 0.2s $curve;

    &:focus {
      opacity: 1;
    }
  }

  .icon {
    align-self: center;
    color: $green;
    grid-area: icon;
  }

  .type {
    align-self: center;
    color: $green;
    cursor: default;
    font-weight: 300;
    grid-area: type;
    text-transform: uppercase;
  }

  &:hover,
  &.editing {
    .edit {
      opacity: 1;
    }
  }
}
