$blue: #32c1ff;
$blue-light: #32ffff;
$blue-text: #0aa5e8;
$orange: #ed8555;
$green: #14cc60;
$green-light: #56dd83;
$red: #d85b56;
$shadow1: 0 2px 10px 0 rgba(68, 71, 81, 13%);
$shadow3: 0 8px 10px 1px rgba(68, 71, 81, 18%);
$curve: cubic-bezier(0.65, 0.29, 0.26, 0.48);
$transition-bg: background-color 0.2s $curve;

@mixin card {
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: $shadow1;
}

@mixin button($color: #333) {
  border: none;
  appearance: none;
  color: $color;
  cursor: pointer;
  outline: none;
  transition: $transition-bg;

  &:focus {
    background-color: rgba($color, 0.05);
  }

  &:hover {
    background-color: rgba($color, 0.075);
  }

  &:active {
    background-color: rgba($color, 0.1);
  }
}

@mixin input {
  display: inline-block;
  padding: 0.125rem;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.15s ease;

  &:focus,
  &:active {
    border-color: $blue;
  }
}
