@import './globals';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

* {
  font-family: $font-stack;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #f9f9f9;
  color: $text-black;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
